<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Local Cloud Server</title>
    <link rel="stylesheet" href="/assets/css/style.css">
</head>
<body>

    <nav class="navbar">
        <div class="navbar-container">
            <div class="navbar-contents navbar-logo"><a href="/">ZR Cloud</a></div>
            <div class="navbar-contents user-name">Fhadilah M</div>
        </div>
    </nav>
    <main style="
        display: flex;
        height: 100vh;
        width: 100vw;
        justify-content: center;
        align-items: center;
        font-size: xx-large;
        text-align: center;
    ">
      <b><%= text %></b>
    </main>
</body>
<script src="/assets/js/jquery-3.6.0.min.js"></script>
<script>
</script>
</html>